@font-face{
    font-family: garam;
    src: url(../fonts/CormorantGaramond-SemiBold.ttf);
}
@font-face{
    font-family: garam_b;
    src: url(../fonts/CormorantGaramond-Bold.ttf);
}
body{
    font-family: garam;
}
.garam_b{
    font-family: garam_b;
}

.iconav{
    width: 20px;
    height: 20px;
}
.justify{
    text-align: justify;
}
.bg-emelli{
    background-image: url(../images/emelli.jpg);
    background-size: cover;    
}
.bg-lafaet{
    background-image: url(../images/lafaet.jpg);
    background-size: cover;    
}
.bg-shamp{
    background-image: url(../images/shamp.jpg);
    background-size: cover;    
}
.bg-lobster{
    background-image: url(../images/lobster.jpg);
    background-size: cover;      
}
.hover22{
    opacity: 0%;
    background-color: rgba(37, 35, 35, 0.5);
}
.hover22:hover{
    opacity: 100%;

}
.hover23{
    opacity: 50%;

}
.hover23:hover{
    opacity: 100%;

}
.font_foot{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}



